body{
    background-image: url("../images/hayley-kim-studios-eot-ka5dM7Q-unsplash.jpg");
    background-size: contain;
    font-family: 標楷體, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.eng-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}
#container{
    padding:1rem;
}
.title{
    text-align: center;
    color:rgb(253,36,79);
    background-color:#FDFFAB;
    font-size: 2rem;
    border-radius: 20px;
    /* 上、右、下、左 */
    margin:24px 48px 36px 12px;
    /* 內間距 */
    padding: 12px;
}
form{
    text-align: center;
    width: 60%;
    background-color:goldenrod;
    background-image: url("../images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg");
    background-size: cover;
    color:#F8F4EC;
    padding: 1rem 0px;
    border-radius: 1rem;
    margin-top: 6px;
    margin: 0 auto;
}
input,
textarea,
label,
button{
    text-align: center;
    margin: 12px 0px;
    font-size: 18px;
}
button{
    background-color: honeydew;
    width:100px;
    border-radius: 6px;
}
a{
    color:brown;
}
a:hover{
    color:pink;
}
a:active{
    color:orange;
}
@media  screen and (max-width:768px) {
    table{
        width: 100%;
    }
    form{
        width:100%;
        font-size: 12px;
    }
}
@media  screen and (max-width:1024px) {
    form{
        width: 80%;
        font-size: 12px;
    }
}
